<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>

<p>
  Set the Frangi parameters:
</p>
<ul> 
  <li> Sigma Min:
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="sigmamin"> <font color=blue><i>sigmamin</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="sigmamin" name="scale" value="1.0" />
                    </div>
                    <div id="sigmamin_slider" name="sigmamin_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#sigmamin', '#sigmamin_slider', 0, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

  <li> Sigma Max: 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="sigmamax"> <font color=blue><i>sigmamax</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="sigmamax" name="scale" value="5.0" />
                    </div>
                    <div id="sigmamax_slider" name="sigmamax_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#sigmamax', '#sigmamax_slider', 0, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>


  <li> Steps: 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="steps"> <font color=blue><i>steps</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="steps" name="scale" value="5.0" />
                    </div>
                    <div id="steps_slider" name="steps_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#steps', '#steps_slider', 0, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

  
</ul>
  

                    


<form action="${app.base_url + 'wait'}" method="get">
  <input type="hidden" name="key" value="${app.key}">
<div class="action">
<input type="submit" value="run" />
</div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="${}" width="400"/>
</div>

<%include file="footer.html" />
